<h5>Phase Details</h5>
<table class="table">
    <tr>
        <td>Phase Name</td>
        <td>
            <InputText @bind-Value="phase.Name"></InputText>
        </td>
    </tr>
    <tr>
        <td>Description</td>
        <td>
            <InputText @bind-Value="phase.Description"></InputText>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <span @onclick="SavePhase"><span class="oi oi-check" aria-hidden="true"></span> Save </span>
            <span @onclick="DeletePhase"><span class="oi oi-x" aria-hidden="true"></span> Delete</span>
        </td>
    </tr>
</table>
<ResourcesSelectedForPhase phase="@phase" />

@code {
    [Parameter]
    public Estimator.UI.Model.EstimatePhase phase { get; set; } 

    [Parameter]
    public EventCallback<Estimator.UI.Model.EstimatePhase> OnPhaseSaved { get; set; }

    [Parameter]
    public EventCallback<Estimator.UI.Model.EstimatePhase> OnPhaseDeleted { get; set; }


    private async Task SavePhase()
    {
        await OnPhaseSaved.InvokeAsync(phase);

    }

    private async Task DeletePhase()
    {
        
        await OnPhaseDeleted.InvokeAsync(phase);
    }
}